@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html
{
  --font-family-normal: "Open Sans", sans-serif;
  --font-family-monospace: "Google Sans Code", monospace;
  --font-family-nav: "Open Sans", sans-serif;
  --font-family-title: "Open Sans", sans-serif;
  --font-family-toc: "Open Sans", sans-serif;
  --font-family-search: "Open Sans", sans-serif;
  --font-family-icon: "Open Sans", sans-serif;
  --font-family-tooltip: "Open Sans", sans-serif;

  --page-link-color: #0057ae;
  --page-visited-link-color: #0057ae;
}

#projectlogo img
{
  height: 40px;
}

h1
{
  margin-top: 2rem;
  font-size: 2rem;
}

h2
{
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h2:first-child
{
  margin-top: 0;
}

h3
{
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}

h3:first-child
{
  margin-top: 0;
}

code
{
  background: rgb(242, 242, 242);
}
